*{
    margin:0;
    padding:0;
}
body{
    background-color:#e5e5e5;
    background-size: cover;
    display:flex;
}
.left-panel{
    height:100vh;
    width:22vw;
    background-color: #040f0f;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
    
}

.profile-img{
    margin:10px 0 0 50px;
    height:32vh;
    width:15vw;
    border:2px white;
    border-radius: 50%;;
    background-image: url("Profile-pf.jpg");
    background-size: cover;
    border:2px solid #0c0f0a;
    transition: border 0.5s ease-in-out;
    

}
.profile-img:hover{
    border: 2.5px solid #291f1e;
    
}
.name{
    margin-left:40px;
    color:#ebebeb;
    height:8vh;
    width:18vw;
    font-size:2.7rem ;
    text-align: center;
    
}
.tag {
    margin-left:40px;
    height:8vh;
    width:18vw;
   color:#ced4da;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-evenly;
    
}
.tag a{
    color:#ced4da;
    transition:color 0.2s ease-in;
}
.tag a:hover{
    color:#274c77;
}
.content{
    margin-left:40px;
    height:250px;
    width:250px;

}
.content li{
    margin-top:15px;
    list-style:none;
    
    transition:background-color 0.2s ease-in-out;
}
.content li:hover{
   background-color:#495057;
}
.content i{
    font-size:1.8rem ;
    margin-right:15px;
    color:#adb5bd;
    transition:color 0.1s ease-in;
    
}

.content i:active{
    color:#274c77;
}
.content  a{
    text-decoration: none;
    font-size: 1.2rem;
    color:#edf6f9;
}
.footer
{   margin-left:40px;
    color:#6c757d;
}
 
.main{
    height:100vh;
    width:78vw;
    background-color: #ffffff;
}
.main h1{
    margin:50px 0 0 50px;
    font-size:3rem;
      
}
.main p{
    margin:20px 0 0 50px;;
    font-size: 1.3rem;
}
.container{
    margin:50px 0 0 50px;
    height:60vh;
    width:70vw;
    display:flex;
    flex-wrap: wrap;
}
.box1{
    height:50vh;
    width:22vw;
    margin-right:18px;
    border-radius: 5%;
    background-color:#e5e5e5;
}
.box2{
    height:50vh;
    width:22vw;
    margin-right:18px;
    border-radius: 5%;
    background-color:#e5e5e5;
}
.box3{
    height:50vh;
    width:22vw;
    margin-right:18px;
    border-radius: 5%;
    background-color:#e5e5e5;
}
.service-icon i{
    margin:20px 0 0 120px;
    height:100px;
    font-size: 3.5rem;
    color:#fca311;
    
}
.container h2{
    margin-left:25px;
    color:#14213d;

}
.container p{
    margin-left:25px;
    font-size: 1.2rem;
    color:#14213d;
}
.box1:hover{
    border:2px solid #e5e5e5;
    
}
.box2:hover{
    border:2px solid #e5e5e5;
    
}
.box3:hover{
    border:2px solid #e5e5e5;
    
}